// 3rd party libs
@import "bootstrap/_bootstrap";
@import "font-awesome/font-awesome";

// HTML5 hooks
main, section, article, header, footer, nav, aside, hgroup {
 display: block;
}

// bootstrap adjustments
.input-group-btn button {
    height: 34px;
}

// wordpress admin bar
body {
    margin-top: 51px;
}
.logged-in .navbar-fixed-top {
    margin-top: 32px;
}

// layout
.content .sidebar {
    margin-top: 30px;
}

.jumbotron {
    color: white;
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 1px 1px 2px black;
}